@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 

.font1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: orange;
}

.font2 {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: blue;
}

.font1 a, .font2 a {
    color: inherit; 
    text-decoration: none;
}

.font1 a:hover, .font2 a:hover {
    text-decoration: underline; 
}
.font3 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: white;
}
.font4 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: white;
}

body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-align {
    text-align: left;
    width: 100%; 
    margin: 0; 
}

.right-align {
    text-align: right; 
    width: 100%; 
    margin: 0; 
}

header, footer, main {
    width: 100%;
}

table {
    width: auto;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.orange-text {
    color: orange;
}
.white-text {
    color: white;
}
aside img {
    display: block;
    margin: auto;
}
.search-form {
    display: flex;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #45a049
}
